.tape {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .turing-tape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .tape-cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .head {
    transform: scale(1.2);
    background-color: #646cff;
  }
  